<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Oops! Page Not Found</title>
</head>
<style>
    h1,h3 {
        text-align: center;
        color: #333;
        font-size: 36px;
    }

    p {
        text-align: center;
        color: #555;
        font-size: 18px;
    }
</style>

<body>
    <h1>Oops! Page Not Found</h1>
    <h3>Error page 404</h3>
    <p>The page you are looking for could not be found.</p>
</body>

</html>
