{{>header}}

<body style="background-color: white;">
    {{> navbar}}
    <section class="about-us-section mb-5">
        <div class="container">
            <div class="mt-3 fw-bold fs-2  text top">
                Why Choose Us
            </div>
            <div class="row mt-3">
                <div class="col-md-8 fs-5">
                    <p>
                        Welcome to Nandiwalaz, your source for exquisite marble statues and idols. Our journey began in the
                        year 1990,
                        and since then, we have been dedicated to providing the finest quality marble statues that not
                        only
                        reflect the beauty of art but also carry the essence of divinity.
                    </p>
                    <p>
                        Our mission is to connect people with the divine through our meticulously crafted statues. Each
                        piece is
                        a symbol of faith and devotion, designed to stand the test of time and inspire spiritual
                        connection.
                    </p>
                    <p>
                        At Moorti, we believe in the highest standards of craftsmanship and ethical practices. Our team
                        of
                        dedicated artisans and craftsmen are committed to bringing your dreams and aspirations to life
                        in the
                        form of exquisite marble creations.
                    </p>
                </div>
                <div class="col-md-4">
                    <!-- You can include an image or any other visual elements here to showcase your products or team -->
                    <img src="\photos\certificate.jpg" alt="About Us Image" class="img-fluid">
                </div>
            </div>
        </div>
    </section>

    <section class="mission-section mb-5">
        <div class="container">
            <div class="mt-3 fw-bold fs-2 text-center text top">
                Our Mission
            </div>
            <div class="row mt-3">
                <div class="col-md-12 fs-5">
                    <p>
                        Our mission at Nandiwalaz is to bridge the gap between art and spirituality. We aspire to provide
                        individuals with a tangible connection to their faith through our beautifully sculpted marble
                        idols. Our creations serve as more than decorative pieces; they become focal points for
                        meditation,
                        prayer, and a symbol of devotion.
                    </p>
                    <p>
                        We are committed to delivering the highest quality products, ensuring that your experience with
                        us
                        is not only memorable but also deeply meaningful. Moorti is where art meets devotion, and we
                        invite
                        you to embark on this spiritual journey with us.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="about-us-section mb-5 bg-success-subtle">
        <div class="container">
            <div class="mt-3 fw-bold fs-2 text top">
                What Our Customers Says
            </div>
            <div class="row mt-3">
                <div class="col-md-4">
                    <div class="testimonial-slider">
                        <div class="testimonial">
                            <p class="quote">"I'm amazed by the craftsmanship of Nandiwalaz's statues. They bring an aura of
                                spirituality to
                                my home. Truly exceptional."</p>
                            <p class="author">-Dr.Dinesh shahay</p>
                        </div>
                        <div class="testimonial">
                            <p class="quote">"The attention to detail in Nandiwalaz's work is unparalleled. Their statues
                                are more than art;
                                they're divine creations."</p>
                            <p class="author">-Mr.Pradeep singh</p>
                        </div>
                        <div class="testimonial">
                            <p class="quote">"Nandiwalaz consistently delivers
                                top-quality marble statues that enhance my spiritual practice."</p>
                            <p class="author">-Mr.Krishana swami</p>
                        </div>
                    </div>
                    <div class="controls">
                        <div class="control" onclick="showTestimonial(0)"></div>
                        <div class="control" onclick="showTestimonial(1)"></div>
                        <div class="control" onclick="showTestimonial(2)"></div>
                    </div>
                </div>

                <div class="col-md-8">
                    <p class="fst-italic">"I recently discovered Nandiwalaz's exquisite collection of marble statues, and I
                        must say, I've been
                        truly impressed. The craftsmanship and attention to detail in their creations are simply
                        remarkable. Each statue seems to radiate a sense of spirituality and artistry that adds a unique
                        charm to my living space. The quality of the materials used is top-notch, and it's evident that
                        these statues are not just decorative pieces; they hold a deeper meaning and significance.
                        Nandiwalaz has succeeded in capturing the essence of devotion and spirituality in their art, making
                        it a valuable addition to my home. Whether you're a collector, a spiritual seeker, or someone
                        who appreciates fine art, I highly recommend exploring Nandiwalaz's offerings. They've certainly
                        left a lasting impression on me, and I couldn't be happier with my purchases."</p>
                </div>
            </div>
        </div>
    </section>

    <section class="join-section mb-5">
        <div class="container">
            <div class="mt-3 fw-bold fs-2 text-center text top">
                Join Us on this Spiritual Journey
            </div>
            <div class="row mt-3">
                <div class="col-md-6 fs-5">
                    <p>
                        We invite you to explore our diverse collection of marble statues, each with its own unique
                        story and spiritual significance. Moorti is more than a brand; it's a celebration of art,
                        spirituality, and the enduring beauty of devotion.
                        Thank you for joining us on this journey. We look forward to being a part of your spiritual and
                        artistic exploration.
                        <span>
                            <b>
                                We are based in Jaipur, India, and you can visit us at Shop no. 27, 28 Prakash Nagar,
                                Kalwar
                                Road, Jhotwara, Jaipur, 302012. For inquiries and more information, please reach out to
                                us at
                                gauravshar091@gmail.com or call us at 96498 33740 or 87693 81395.
                            </b>
                        </span>
                    </p>
                </div>
                <div class="col-md-6">
                    <div class="toper">
                        <h2 class="text-center">Get Connect With Us</h2>
                        <form action="/detail" method="POST" class="main">
                            <div class="form-group">
                                <label for="name">Name:</label>
                                <input type="text" id="name" name="name" placeholder="Enter your name" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Email:</label>
                                <input type="email" id="email" name="email" placeholder="Enter your email" required>
                            </div>
                            <div class="form-group">
                                <label for="email">Mobile No:</label>
                                <input type="phone" id="phone" name="phone" placeholder="Enter your mobile no" required>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script>
        AOS.init();
        const testimonials = document.querySelectorAll('.testimonial');
        const controls = document.querySelectorAll('.control');
        let currentIndex = 0;

        function showTestimonial(index) {
            testimonials.forEach((testimonial, i) => {
                if (i === index) {
                    testimonial.style.display = 'block';
                } else {
                    testimonial.style.display = 'none';
                }
            });
            // Update the active control button
            controls.forEach((control, i) => {
                control.classList.toggle('active', i === index);
            });
            currentIndex = index;
        }

        // Display the first testimonial
        showTestimonial(currentIndex);

        // Automatically advance to the next testimonial every 5 seconds (adjust as needed)
        function nextTestimonial() {
            currentIndex++;
            if (currentIndex >= testimonials.length) {
                currentIndex = 0;
            }
            showTestimonial(currentIndex);
        }

        setInterval(nextTestimonial, 3000);
    </script>


    {{> footer}}
</body>