{{>header}}

<body>
    {{> navbar}}
    <div id="carouselExampleCaptions" class="carousel slide head">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://www.avinashmarblemoorti.com/storage/sliders/CF65D993398B.webp"
                    class="d-block w-100 carousel-image" alt="...">
                <div class="carousel-caption d-none d-md-block" data-aos-delay="200" data-aos="fade-up"
                    data-aos-duration="2000">
                    <h1 class="text-danger">Marble Ganesh Moorti</h1>
                    <h3>Nandiwalaz.</h3>

                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.avinashmarblemoorti.com/storage/sliders/83E59BEA50B3.webp"
                    class="d-block w-100 carousel-image" alt="...">
                <div class="carousel-caption d-none d-md-block" data-aos-delay="200" data-aos="fade-up"
                    data-aos-duration="2000">
                    <h1 class="text-danger">Marble Radha-Krishan Moorti</h1>
                    <h3>Nandiwalaz.</h3>
                </div>
            </div>
            <div class="carousel-item">
                <img src="https://www.avinashmarblemoorti.com/storage/sliders/CF65D993398B.webp"
                    class="d-block w-100 carousel-image" alt="...">
                <div class="carousel-caption d-none d-md-block" data-aos-delay="200" data-aos="fade-up"
                    data-aos-duration="1000">
                    <h1 class="text-danger">Marble Ganesh Moorti</h1>
                    <h3>Nandiwalaz.</h3>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
   {{> slider}}
    <div class="container mb-2 ">
        <div class="mt-5 fw-bold fs-3 text-center text top">Our Experties</div>
        <div class="row row-cols-1 row-cols-md-3 g-4 mt-4 flex-wrap bg-black rounded-2">
            <div class="col">
                <div class="card">
                    <img src="\photos\ganesh2.jpg" class="card-img-top" alt="..." id="myCardImage1">
                    <div class="card-body">
                        <h5 class="card-title">Marble Ganesh Moorti</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\parvati2.jpg" class="card-img-top" alt="..." id="myCardImage2">
                    <div class="card-body">
                        <h5 class="card-title">Marble Parvati Moorti</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>
                    
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\radhakrishan.png" class="card-img-top" alt="..." id="myCardImage3">
                    <div class="card-body">
                        <h5 class="card-title">Marble Radha-Krishan Jodi</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\ramdarbar.jpg" class="card-img-top" alt="..." id="myCardImage4">
                    <div class="card-body">
                        <h5 class="card-title">Marble Ram-Jodi</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\nandi2.jpg" class="card-img-top" alt="..." id="myCardImage5">
                    <div class="card-body">
                        <h5 class="card-title">Marble Nandi Moorti</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\parvati4.jpg" class="card-img-top" alt="..." id="myCardImage6">
                    <div class="card-body">
                        <h5 class="card-title">Marble Parvati Moorti</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\hanuman2.jpg" class="card-img-top" alt="..." id="myCardImage7">
                    <div class="card-body">
                        <h5 class="card-title">Marble Hanuman Moorti</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\vithal.jpg" class="card-img-top" alt="..." id="myCardImage8">
                    <div class="card-body">
                        <h5 class="card-title">Marble ShreeNath Ji Moorti</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\parvati3.jpg" class="card-img-top" alt="..." id="myCardImage9">
                    <div class="card-body">
                        <h5 class="card-title"> Marble Parvati Ji</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\triputi.jpg" class="card-img-top" alt="..." id="myCardImage10">
                    <div class="card-body">
                        <h5 class="card-title">Marble Triputi Ji </h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">Black</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>
                        
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\nandi3.jpg" class="card-img-top" alt="..." id="myCardImage11">
                    <div class="card-body">
                        <h5 class="card-title">Marble Nandi With Extra Work</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="\photos\sai2.jpg" class="card-img-top" alt="..." id="myCardImage12">
                    <div class="card-body">
                        <h5 class="card-title"> Marble Sai Baba</h5>
                        <span>
                            <b>Size:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Any Size">Any Size</span>
                        </span>
                        <br>
                        <span>
                            <b>Marble:</b>
                            <span class="d-inline list-items" data-toggle="tooltip" title="Marble">White</span>
                        </span>
                     <button type="button" class="btn btn-warning cart">ADD TO CART</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="myModel1" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage1">
    </div>
    <div id="myModel2" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage2">
    </div>
    <div id="myModel3" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage3">
    </div>
    <div id="myModel4" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage4">
    </div>
    <div id="myModel5" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage5">
    </div>
    <div id="myModel6" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage6">
    </div>
    <div id="myModel7" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage7">
    </div>
    <div id="myModel8" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage8">
    </div>
    <div id="myModel9" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage9">
    </div>
    <div id="myModel10" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage10">
    </div>
    <div id="myModel11" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage11">
    </div>
    <div id="myModel12" class="model">
        <span class="close">&times;</span>
        <img class="model-content" id="modalImage12">
    </div>


    <section class="about-expertise-sec team mt-5 mb-5 ">
        <div class="container com ">
            <div class="row align-items-center fs-5">
                <div class="col-md-8 text-white">
                    <div class="top p-2">
                        <h2>Premium Materials</h2>
                    </div>
                    <p>
                        We source the finest quality marble to ensure durability and a timeless aesthetic. Our statues
                        are built to stand the test of time, just like the deities they represent.Owning one of our
                        marble statues is more than just owning a piece of art; it's a connection to the divine. These
                        statues can serve as focal points for meditation, prayer, or simply as a symbol of your
                        faith.Whether you're a collector, a spiritual seeker, or someone who appreciates the beauty of
                        fine art, our marble statues are sure to inspire and captivate.We believe in the best quality as
                        well as best service to our customers.
                    </p>
                </div>
                <div class="col-md-4 p-3">
                    <img src="\photos\laddu.jpg" class="exp" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="about-expertise-sec team mt-5 mb-5 text-white">
        <div class="container com ">
            <div class="row align-items-center">
                <div class="col-md-4 border expert">
                    <div>
                        <h2 class=" top p-2">Our "INTEGRITY"</h2>
                    </div>
                    <p>
                        We believe in open and honest communication, both within our organization and with everyone we
                        interact with. Our pricing, policies, and practices are transparent, ensuring that you have a
                        clear understanding of what you can expect when you engage with us.We hold ourselves to the
                        highest ethical standards. Our team members are guided by a strict code of ethics.
                    </p>
                </div>
                <div class="col-md-4  border expert">
                    <div>
                        <h2 class=" top p-2">Our "SUCCESS"</h2>
                    </div>
                    <p>
                        No matter where you are in the world, we can deliver these divine creations to your doorstep,
                        ensuring that you can experience their beauty and significance. Each statue is a testament to
                        the enduring power and grace of the gods and goddesses they represent.We are committed to
                        providing the highest level of customer service, ensuring that your experience with us is
                        seamless and enjoyable.
                    </p>
                </div>
                <div class="col-md-4  border expert">
                    <div>
                        <h2 class=" top p-2">Our "ACHIEVEMENTS"</h2>
                    </div>
                    <p>
                        We are globaly organized with all respective area and make dreams true working with us.
                        <span>Established in 2000</span> and working till now capture the 30% market of the
                        industry. Our employees are well
                        educated and have better knowledge of this industry. The growth of company is incresing
                        day by day. We are available for all type of related queries.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    {{> footer}}
    <script>  AOS.init();
        // JavaScript to make the navbar sticky on scroll
        window.addEventListener('scroll', function () {
            const navbar = document.querySelector('.navbar');
            if (window.scrollY > 0) {
                navbar.classList.add('sticky');
            } else {
                navbar.classList.remove('sticky');
            }
        });


        document.addEventListener("DOMContentLoaded", function () {
            // Get all elements with the class .card-img-top
            var cardImages = document.querySelectorAll(".card-img-top");

            // Loop through each card image and add a click event listener
            cardImages.forEach(function (cardImage, index) {
                cardImage.addEventListener("click", function () {
                    // Get the corresponding modal and modal image based on the index
                    var model = document.querySelectorAll(".model")[index];
                    var modelImage = document.querySelectorAll(".model-content")[index];

                    // Open the modal and set the modal image source
                    model.style.display = "block";
                    modelImage.src = cardImage.src;
                });
            });

            // Add event listeners for closing modals (similar to your existing code)
            var closeButtons = document.querySelectorAll(".close");
            closeButtons.forEach(function (closeButton, index) {
                closeButton.addEventListener("click", function () {
                    var model = document.querySelectorAll(".model")[index];
                    model.style.display = "none";
                });
            });

            // Close the modal if the user clicks anywhere outside of it
            window.addEventListener("click", function (event) {
                cardImages.forEach(function (cardImage, index) {
                    var model = document.querySelectorAll(".model")[index];
                    if (event.target == model) {
                        model.style.display = "none";
                    }
                });
            });
        });

    </script>
</body>

</html>