<div class="whatsapp_content" >
   <a href=" https://wa.me/917568217119" target="_blank">Need help? chat with us <img src="\photos\whatsapp.jpg" class="whatimg" alt=""></a>
</div>

<footer id="contact-section">
    <iframe class="map w-100"
        src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14226.131405078111!2d75.71163!3d26.9500203!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xe8ea5c04b4442167!2sNeurotherapy%20Jaipur!5e0!3m2!1sen!2sin!4v1661939638905!5m2!1sen!2sin"
        height="300" style="border:5px;" allowfullscreen="" loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"></iframe>
    <footer class="footer text-center text-lg-start bg-black text-white">
        <!-- Section: Social media -->
        <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
            <!-- Left -->
            <div class="me-5 d-none d-lg-block">
                <span>Get connected with us on social networks:</span>
            </div>
            <!-- Left -->

            <!-- Right -->
            <div class="uplogo">
                <div class="logo">
                    <a href="#" class="me-4 text-reset">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </div>

                <div class="logo">
                    <a href="#" class="me-4 text-reset">
                        <i class="fab fa-google"></i>
                    </a>
                </div>

                <div class="logo">
                    <a href="#" class="me-4 text-reset">
                        <i class="fab fa-instagram"></i>
                    </a>
                </div>

                <div class="logo">
                    <a href="#" class="me-4 text-reset">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
            </div>
            <!-- Right -->
        </section>
        <!-- Section: Social media -->

        <!-- Section: Links  -->
        <section class="">
            <div class="container text-center text-md-start mt-5">
                <!-- Grid row -->
                <div class="row mt-3">
                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
                        <!-- Content -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            <i class="fas fa-gem me-3"></i>Nandiwalaz
                        </h6>
                        <p>
                            Founded with a deep passion for the art of marble, Nandiwalaz began its journey in 1990. 
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Products
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Nandi</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Shivling</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Hanuman</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Krishan</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">
                            Useful links
                        </h6>
                        <p>
                            <a href="#!" class="text-reset">Pricing</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Orders</a>
                        </p>
                        <p>
                            <a href="#!" class="text-reset">Help</a>
                        </p>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4 detail">
                        <!-- Links -->
                        <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
                        <div class="low">
                            <i class="fas fa-envelope me-2"></i>
                            <p>
                                Shop no. 27,28 Prakash Nagar<br>
                                Kalwar Road,Jhotwara,Jaipur
                            </p>
                        </div>

                        <div class="low">
                            <i class="fas fa-envelope me-2"></i>
                            <p>
                                gauravshar091@gmail.com
                            </p>
                        </div>

                        <div class="low">
                            <i class="fas fa-phone me-2"></i>
                            <p>96498 33740 , 87693 81395</p>
                        </div>
                    </div>
                    <!-- Grid column -->
                </div>
                <!-- Grid row -->
            </div>
        </section>
        <!-- Section: Links  -->

        <!-- Copyright -->
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:Nandiwalaz
        </div>
        <!-- Copyright -->
    </footer>
