<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel">For Enquiry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="mb-3">
                        <div class="enquiry bg-warning pt-1">gauravshar091@gmail.com</div>
                    </div>
                    <div class="mb-3">
                        <div class="enquiry bg-warning pt-1">+91 75682 17119 , +91 87693 81395</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <div>
            <a href="/"><img src="\photos\moorti.jpg" width="100px" height="80px" alt="loding..." class="site-logo"></a>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about"> About us</a>
                </li>


                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Products
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Nandi</a></li>
                        <li><a class="dropdown-item" href="#">Ganesh</a></li>
                        <li><a class="dropdown-item" href="#">Shiv Ji</a></li>
                        <li><a class="dropdown-item" href="#">Durga</a></li>
                        <li><a class="dropdown-item" href="#">Ram Darbar</a></li>
                        <li><a class="dropdown-item" href="#">Hanuman</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contact-section"> Contact us</a>
                </li>
            </ul>
        </div>
        <div class="cart_icon">
            <a href="/viewcart"> <img
                    src="https://static-assets-web.flixcart.com/batman-returns/batman-returns/p/images/header_cart-eed150.svg"
                    alt="Cart" class="_1XmrCc" width="35" height="35">
            </a>
        </div>

        <button class="btn btn-warning btn-lg enq" id="signupw" data-bs-toggle="modal" data-bs-target="#loginModal">
            Enquiry
        </button>

    </div>
</nav>